body {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  overflow-x: hidden;
}
#me {
  width: 15%;
  height: 15%;
}
#menu {
  width: 80%;
  position: fixed;
  top: 1%;
}
.menuTitle {
  width: 33%;
  display: inline-block;
}
.thumbnail.right-caption {
  float: left;
}
.thumbnail.right-caption img {
  float: left;
  margin-right: 9px;
}
.thumbnail.right-caption .caption {
  padding: 1%;
}
