body {
  margin-right: 10%;
  margin-left: 10%;
  overflow-x: hidden;
}
.justify {
  text-align: justify;
}
#myIntro {
  padding-top: 1%;
  padding-bottom: 1%;
}
.menuTitle {
  width: 33%;
  display: inline-block;
}
.thumbnail.right-caption {
  float: left;
  margin-right: 1%;
}
.thumbnail.right-caption img {
  float: left;
}
.thumbnail.right-caption .caption {
  padding: 1%;
}
.clearFloat {
  clear: both;
}
