@bg_color: #00008B;

body{
  margin-right: 10%;
  margin-left: 10%;
  overflow-x: hidden;
  background-color: lighten(@bg_color, 60%);
}

#mainContainer{
  padding-top: 0px;
  padding-bottom: 1%;
}

.justify{
  text-align: justify;
}
#myIntro{
  padding-top: 1%;
  padding-bottom: 1%;
}

.menuTitle{
  width: 33%;
  display: inline-block;
}

.caption{
  text-align: center;
}

#reception {
  h2{
    margin-top: 0px;
  }
}
.navbar{
  .myCv{
    margin-right: 0px;
    padding-top: 0px;
  }
  .glyphicon{
    top: 2px;
    right:4.5%;
  }
}


#bottomBar{
  margin-bottom: 0px;
}
.clearFloat{
  clear: both;
}

.list-group-item{
  border: 0px;
}

@media (max-width: 600px){
  body{
    margin-right: 0px;
    margin-left: 0px;
  }
  .glyphicon{
    right: 2%;
  }
}

@media (min-width: 600px){
  .glyphicon{
    right: 0.5%;
  }
  .thumbnail.right-caption{
    float:left;
    margin-right: 1%;
    margin-bottom: 0.5%;
    img{
      float: left;
    }
    .caption{
      padding: 1%;
      margin-bottom: 0px;
    }
  }
  #skills{
    display:none;
  }
}

@media screen and (max-width: 475px){
  #reception{
    clear:left;
  }
}
