body{
  margin-right: 10%;
  margin-left: 10%;
  overflow-x: hidden;
}
#myIntro{
  padding-top: 1%;
  padding-bottom: 1%;
}

.menuTitle{
  width: 33%;
  display: inline-block;
}

.thumbnail.right-caption{
  float:left;
  img{
    float: left;
    margin-right: 9px;
  }

  .caption{
    padding: 1%;
  }
}

.clearFloat{
  clear: both;
}

#bottomBar{
  width: 80%;
  position: absolute;
}
